
@font-face {
    src: url("./assets/fonts/The-Seasons-lt.otf") format("truetype"); /* Update the path */
    font-family: "The Seasons";
    font-weight: normal;
    font-style: normal;
}

.crazyfont {
    font-family: "The Seasons", sans-serif;
}
.f1f0ee {
    background-color: #f1f0ee;
}